<div class="d-flex flex-column align-items-center">
  <app-shift-employee-home></app-shift-employee-home>
  <div style="margin-top: 100px;" class="get-employee-shifts-container">


    <h2>Get Employee Shifts</h2>

    <div *ngIf="noRecordFound" class="alert alert-warning">
      No shifts found for the given Employee ID.
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div *ngIf="shifts.length > 0">
      <h3>Shifts for Employee ID: {{ employeeId }}</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Shift ID</th>
            <th>Shift Date</th>
            <th>Shift Time</th>
            <th>Shift Status</th>
            <th>Request Swap with</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shift of pagedShifts">
            <td>{{ shift.shiftId }}</td>
            <td>{{ shift.shiftDate }}</td>
            <td>{{ shift.shiftTime }}</td>
            <td>{{ shift.shiftStatus.status }}</td>
            <td style="text-align: center">
              {{
                shift.shiftStatus.requestedSwapEmployeeId
                  ? shift.shiftStatus.requestedSwapEmployeeId
                  : "――"
              }}
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="totalPages > 1" class="d-flex justify-content-center mt-3">
        <nav aria-label="Shifts Pagination">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
            </li>

            <ng-container *ngFor="let page of pages">
              <li *ngIf="!isEllipsis(page)" class="page-item" [class.active]="page === currentPage">
                <button class="page-link" (click)="changePage(page)">{{ page }}</button>
              </li>
              <li *ngIf="isEllipsis(page)" class="page-item disabled">
                <span class="page-link">...</span>
              </li>
            </ng-container>

            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>