<app-header></app-header>
<app-leave-employee-dashboard></app-leave-employee-dashboard>

<!-- <div class="d-flex" id="wrapper">
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Leave Management</div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/leaveserviceemployee"
        class="list-group-item list-group-item-action text-white"
        >Home</a
      >
      <a
        routerLink="/request-leave"
        class="list-group-item list-group-item-action text-white"
        >Request Leave</a
      >
      <a
        routerLink="/get-leave-request-by-employeeid"
        class="list-group-item list-group-item-action text-white"
        >Leave Requests By Employee Id</a
      >
      <a
        routerLink="/leave-status"
        class="list-group-item list-group-item-action text-white"
        >Leave Status</a
      >
    </div>
  </div>
</div> -->


