
<div class="dashboard-container">
  <div class="head-container">
    <app-header></app-header>
  </div>

  <div class="main-content">
    <!-- Left side navigation -->
    <div class="navigation">
      <h2>Leave Management</h2>
      <ul>
        <li>
          <button type="button" routerLink="/leave-home">Home</button>
        </li>
        <li>
          <button type="button"  routerLink="/request-leave">
            Request Leave
          </button>
        </li>
        <li>
          <button type="button"  routerLink="/get-leave-request-by-employeeid">
            Get Leave Request By Employee ID
          </button>
        </li>
        <li>
          <button type="button"  routerLink="/leave-status">
            Leave Status
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
