<div class="dashboard-container">
  <div class="head-container">
    <app-header></app-header>
  </div>
  
  <div class="main-content">
    <!-- Left side navigation -->
    <div class="navigation">
      <h2>Manager Dashboard</h2>
      <ul>
        <li>
            <button type="button" routerLink="/assign-shift">
                Assign Shift
              </button>
        </li>
        <li>
            <button type="button" routerLink="/view-manager-shifts">
                View Employee Shifts
              </button>        </li>
        <li>
            <button type="button" routerLink="/view-manager-own-shifts">
                View My Shifts
              </button>
       </li>
        <li>
            <button type="button" routerLink="/view-employee-shifts">
                View Shifts by ID
              </button>
       </li>
        <li>
            <button type="button"  routerLink="/view-manager-swap-requests">
                View Swap Request
              </button>
       </li>
      </ul>
</div>
</div>
</div>
