.card {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  }

  .card-body {
    padding: 1rem;
  }

  /* Styling for the squared card */
  .squared-card {
    width: 400px; /* Adjust as needed */
    height: 400px; /* Make width and height equal for a square */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within elements */
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-left: 20px;
    margin-top: 20px;
  }

  /* Hover effect for the card */
  .card-with-hover {
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transform: scale(1.01); /* Scale up slightly on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add a more prominent shadow on hover */
  }

  .card-with-hover:hover {
    transform: scale(1.03);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add a more prominent shadow on hover */
    cursor: pointer;
  }

  input{
    width: 150px;
    margin-left: 20px;
    padding-left: 30px;
  }