<div class="d-flex flex-column align-items-center">
<app-leave-employee-dashboard></app-leave-employee-dashboard>
<div class="main-content-wrapper">
  <!-- Leave Balances Section -->
  <div *ngIf="leaveBalances && leaveBalances.length > 0 && employeeId !== null" style="margin-top: 30px;">
    <h2 class="section-title">Leave Balances</h2>
    <div class="leave-cards">
      <div class="card" *ngFor="let balance of leaveBalances">
        <div class="leave-circle">
          <div class="leave-count">{{ balance.balance }}</div>
        </div>
        <div class="leave-type">{{ balance.leaveType }}</div>
      </div>
    </div>
  </div>

  <!-- Leave Requests Table -->
  <h2 class="mt-5">Leave Requests</h2>

  <div class="mt-4" *ngIf="errorMessage">
    <div class="alert alert-danger">{{ errorMessage }}</div>
  </div>

  <div class="mt-4" *ngIf="leaveRequests && leaveRequests.length > 0 && employeeId !== null">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Leave ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Leave Type</th>
          <th>No of days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of leaveRequests | slice:0:4">
          <td>{{ request.leaveId }}</td>
          <td>{{ request.startDate }}</td>
          <td>{{ request.endDate }}</td>
          <td>{{ request.leaveType }}</td>
          <td>{{ calculateDays(request.startDate, request.endDate) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4" *ngIf="leaveRequests && leaveRequests.length === 0 && !errorMessage">
    <div class="alert alert-info">No leave requests found.</div>
  </div>
</div>
</div>
