<!-- <!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <app-header></app-header>
    <div class="d-flex" id="wrapper">
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">Shift Management</div>
        <div class="list-group list-group-flush">
          
        </div>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1>Manager Shift Service</h1>
      </div>
    </div>
  </body>
</html> -->

<app-header></app-header>
<div class="d-flex" id="wrapper">
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Shift Management</div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/shiftservicemanager"
        class="list-group-item list-group-item-action text-white"
        >Home</a
      >
      <a
        routerLink="/assign-shift"
        class="list-group-item list-group-item-action text-white"
        >Assign Shift</a
      >
      <a
        routerLink="/view-manager-shifts"
        class="list-group-item list-group-item-action text-white"
        >View My Employee Shifts</a
      >
      <a
        routerLink="/view-manager-own-shifts"
        class="list-group-item list-group-item-action text-white"
        >View My Own Shifts</a
      >
      <a
        routerLink="/view-employee-shifts"
        class="list-group-item list-group-item-action text-white"
        >View employee shifts by id</a
      >
      <a
        routerLink="/view-manager-swap-requests"
        class="list-group-item list-group-item-action text-white"
        >View Swap Request</a
      >
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Manager Shift Service</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
