.table-head-dark th {
    background-color: #343a40;
    color: white;
  }
  .custom-table {
    width: 100%;
  }

  /* Styling for the header and button card */
  .card-with-hover {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .card-with-hover:hover {
    transform: scale(1.01); /* Scale up slightly on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add a more prominent shadow on hover */
    cursor: pointer;
  }

  .card-title {
    margin-bottom: 0.75rem;
  }

  /* Styling for the squared card */
  .squared-card {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Make width and height equal for a square */
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within elements */
    margin-top: 15px;
  }

  .attendance-content{
    padding-bottom: 50px;
  }