/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Arial", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* In your component's CSS or a global styles file */
.bg-light {
  background-color: #f8f9fa !important; /* Light grey background */
}
.text-center {
  text-align: center !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
