
<div class="dashboard-container"> 
  <div class="head-container">
    <app-header></app-header>
  </div>
  <h1>Manager</h1>
  <div class="container-fluid">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 d-flex justify-content-center">
        <app-clockin></app-clockin>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <app-clockout></app-clockout>
      </div>
    </div>
  </div>

  <div>
    <app-displayattendance></app-displayattendance>
    <app-getattendanceforemployee> </app-getattendanceforemployee>
    <app-getattendanceforemployeeanddate></app-getattendanceforemployeeanddate>
    <app-getattendancefortoday></app-getattendancefortoday>
    <app-countattendance></app-countattendance>
  </div>
  </div>
