
<div class="dashboard-container">
  <div class="head-container">
  </div>
  <div class="d-flex flex-column align-items-center">
  <h1>Attendance Dashboard</h1>

  <div class="main-content">
    <div class="navigation">
      <ul>
        <li>
          <button
            (click)="showComponent('display-attendance')"
            [class.active]="activeComponent === 'display-attendance'"
          >
          View Your Attendance
          </button>
        </li>
        <li>
          <button
            (click)="showComponent('get-employee-attendance')"
            [class.active]="activeComponent === 'get-employee-attendance'"
          >
          View Today's Attendance
          </button>
        </li>
        <li>
          <button
          (click)="showComponent('get-today-attendance')"
            [class.active]="activeComponent === 'get-today-attendance'"
          >
          View Employee Attendance by Date
          </button>
        </li>
        <li>
          <button
            (click)="showComponent('get-employee-attendance-by-date')"
            [class.active]="activeComponent === 'get-employee-attendance-by-date'"
          >
          View Employee Attendance by Date
          </button>
        </li>
        <li>
          <button
            (click)="showComponent('count-attendance')"
            [class.active]="activeComponent === 'count-attendance'"
          >
          Count Employee Attendance
          </button>
        </li>
      </ul>
    </div>
    <div class="content-area">
      <app-displayattendance *ngIf="activeComponent === 'display-attendance'"></app-displayattendance>
      <app-getattendanceforemployee *ngIf="activeComponent === 'get-employee-attendance'"></app-getattendanceforemployee>
      <app-getattendanceforemployeeanddate *ngIf="activeComponent === 'get-employee-attendance-by-date'"></app-getattendanceforemployeeanddate>
      <app-getattendancefortoday *ngIf="activeComponent === 'get-today-attendance'"></app-getattendancefortoday>
      <app-countattendance *ngIf="activeComponent === 'count-attendance'"></app-countattendance>
  </div>
  </div>
</div>
