<app-header></app-header>
<div class="d-flex" id="wrapper">
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Shift Management</div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/shiftserviceemployee"
        class="list-group-item list-group-item-action text-white"
        >Home</a
      >
      <a
        routerLink="/get-employee-shifts"
        class="list-group-item list-group-item-action text-white"
        >View My Shifts</a
      >
      <div
        class="list-group-item list-group-item-action text-white"
        (click)="toggleShiftSwapTracker()"
        id="shiftSwapTracker"
      >
        Shift Swap Request Tracker
        <span class="arrow" [innerHTML]="arrowIcon"></span>
      </div>
      <div class="list-group" *ngIf="isShiftSwapTrackerOpen" id="shiftSwapOptions">
        <a
          (click)="navigateToShiftSwapRequest()"
          class="list-group-item list-group-item-action text-white pl-4"
          style="cursor: pointer;"
          >Shift Swap Request</a
        >
        <a
          (click)="navigateToShiftSwapReject()"
          class="list-group-item list-group-item-action text-white pl-4"
          style="cursor: pointer;"
          >Shift Swap Reject</a
        >
        <a
          (click)="navigateToShiftSwapApproved()"
          class="list-group-item list-group-item-action text-white pl-4"
          style="cursor: pointer;"
          >Shift Swap Approved</a
        >
      </div>
    </div>
  </div>
</div>