<div class="d-flex">
  <div
    id="page-content-wrapper"
    class="d-flex flex-column align-items-center justify-content-start flex-grow-1 overflow-auto"
  >
    <div class="container-fluid mt-3 align-items-center d-flex flex-column">
      <h1 class="ml-3">Employee Shift Service</h1>
      <div class="d-flex align-items-center position-relative">
        <div class="mt-2 ml-2">
          <button
            class="btn btn-primary text-white"
            (click)="toggleShiftSwapTracker()"
            id="shiftSwapTracker"
          >
            Shift Swap Request Tracker
            <span [innerHTML]="arrowIcon"></span>
          </button>
          <!-- Dropdown Content -->
          
          <div
            *ngIf="isShiftSwapTrackerOpen"
            class="dropdown-content position-absolute bg-white shadow p-3"
          >
            <button
              routerLink="/shift-swap-request"
              class="btn btn-sm dropdown-item"
            >
              Shift Swap Request
            </button>
            <button
              routerLink="/shift-swap-reject"
              class="btn btn-sm dropdown-item"
            >
              Shift Swap Reject
            </button>
            <button
              routerLink="/shift-swap-approved"
              class="btn btn-sm dropdown-item"
            >
              Shift Swap Approved
            </button>
          </div>
        </div>
      </div>
      <app-upcomingshifts
        class="mt-3 align-items-center d-flex flex-column"
      ></app-upcomingshifts>
    </div>
  </div>
</div>