/* app-sidenavbar.component.css */
.sidenav-content {
  display: flex;
  flex-direction: column; /* To stack app-column and the text vertically */
  align-items: center;      /* To center horizontally */
  justify-content: center; /* To center vertically */
  height: 100%;           /* Make it take the full height of the sidenavbar */
  /* You might need to adjust width as well */
}

/* styles.css or app.component.css */

/* Apply white background to the main content wrapper */
#page-content-wrapper {
  background-color: white;
}

/* You might also want to ensure the container-fluid within it has a white background */
.container-fluid {
  background-color: white;
}

/* If you want the entire viewport to be white, you can target the body */
body {
  background-color: white;
}