<app-header></app-header>
<div class="d-flex" id="wrapper">
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Leave Management</div>
    <div class="list-group list-group-flush">
      <a
        routerLink="/leave-home-manager"
        class="list-group-item list-group-item-action text-white"
        >Home</a
      >
      <a
        routerLink="/all-leave-requests"
        class="list-group-item list-group-item-action text-white"
        >All Leave Requests</a
      >
      <a
        routerLink="/get-leave-request-by-managerid"
        class="list-group-item list-group-item-action text-white"
        >Leave Requests By Manager ID</a
      >
    </div>
  </div>
</div>
